* @insighttech-instructors

/shared/ @insighttech-leads
/docs/program/ @insighttech-leads

/learning-paths/lp01-identity-governance/ @lp01-owner @insighttech-instructors
/learning-paths/lp02-storage-management/ @lp02-owner @insighttech-instructors
/learning-paths/lp03-compute-resources/ @lp03-owner @insighttech-instructors
/learning-paths/lp04-virtual-networks/ @lp04-owner @insighttech-instructors
/learning-paths/lp05-monitor-backup/ @lp05-owner @insighttech-instructors
/learning-paths/lp06-capstone-final-project/ @lp06-owner @insighttech-instructors
